<launch>
    <node pkg="slam_manager" type="slam_manager_map_to_img_node" name="map_to_img" output="screen">
        <param name="tile_width" value="736"/>
        <param name="tile_height" value="1280"/>
        <param name="parent_frame" value="map"/>
        <param name="child_frame" value="base_link"/>
        <param name="draw_robot" value="true"/>
        <param name="publish_full_map" value="true"/>
        <param name="publish_map_tile" value="false"/>
    </node>

</launch>
