<launch>
    <arg name="simulation" default="false" />
    <arg name="use_smoother_vel" default="true" />
    <arg name="use_smoother_joystick" default="true" />
    <arg name="use_joystick" default="true" />
    <arg name="use_ultra_sonic" default="false" />
    <arg name="cmd_vel_final" default="/final_cmd_vel_mux/output" />
    <arg name="use_laser" default="false" />
    <arg name="use_serial" default="false" />
    <arg name="use_motor" default="true" />
    <arg name="use_safety" default="false" />
    <arg name="use_camera" default="false" />
    <arg name="use_imu" default="false" />

    <!-- velocity smoother -->
    <group if="$(arg use_smoother_vel)">
        <arg name="node_name" value="auto_velocity_smoother" />
        <arg name="nodelet_manager_name" value="smoother_vel_nodelet_manager" />
        <arg name="config_file" value="$(find amr_config)/cfg/auto_velocity_smoother.yaml" />
        <arg name="raw_cmd_vel_topic" value="/auto_cmd_vel_mux/output" />
        <arg name="smooth_cmd_vel_topic" value="/auto_cmd_vel_mux/output/smoother" />
        <arg name="robot_cmd_vel_topic" value="robot_cmd_vel" />
        <arg name="odom_topic" value="odom" />

        <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" />

        <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
            <arg name="node_name" value="$(arg node_name)" />
            <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
            <arg name="config_file" value="$(arg config_file)" />
            <arg name="raw_cmd_vel_topic" value="$(arg raw_cmd_vel_topic)" />
            <arg name="smooth_cmd_vel_topic" value="$(arg smooth_cmd_vel_topic)" />
            <arg name="robot_cmd_vel_topic" value="$(arg robot_cmd_vel_topic)" />
            <arg name="odom_topic" value="$(arg odom_topic)" />
        </include>
    </group>

    <group if="$(arg use_smoother_joystick)">
        <arg name="node_name" value="joystick_velocity_smoother" />
        <arg name="nodelet_manager_name" value="joystick_nodelet_manager" />
        <arg name="config_file" value="$(find amr_config)/cfg/joystick_velocity_smoother.yaml" />
        <arg name="raw_cmd_vel_topic" value="teleop_joy_cmd_vel_safety" />
        <arg name="smooth_cmd_vel_topic" value="joystick_smoother_cmd_vel" />
        <arg name="robot_cmd_vel_topic" value="robot_cmd_vel" />
        <arg name="odom_topic" value="odom" />

        <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" />

        <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
            <arg name="node_name" value="$(arg node_name)" />
            <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
            <arg name="config_file" value="$(arg config_file)" />
            <arg name="raw_cmd_vel_topic" value="$(arg raw_cmd_vel_topic)" />
            <arg name="smooth_cmd_vel_topic" value="$(arg smooth_cmd_vel_topic)" />
            <arg name="robot_cmd_vel_topic" value="$(arg robot_cmd_vel_topic)" />
            <arg name="odom_topic" value="$(arg odom_topic)" />
        </include>
    </group>

    <group if="$(arg use_motor)">
        <!-- auto velocity multiplexer -->
        <node pkg="nodelet" type="nodelet" name="auto_mux_nodelet" args="manager" />
        <node pkg="nodelet" type="nodelet" name="auto_cmd_vel_mux"
            args="load yocs_cmd_vel_mux/CmdVelMuxNodelet auto_mux_nodelet">
            <param name="yaml_cfg_file" value="$(find amr_config)/cfg/auto_cmd_vel_mux.yaml" />
            <!-- move_base default -->
            <remap from="/auto_cmd_vel_mux/input/navi" to="cmd_vel" />
            <!-- move to point -->
            <remap from="/auto_cmd_vel_mux/input/move_to_point" to="mtp_cmd_vel" />
        </node>

        <!-- final velocity multiplexer -->
        <node pkg="nodelet" type="nodelet" name="final_mux_nodelet" args="manager" />
        <node pkg="nodelet" type="nodelet" name="final_cmd_vel_mux"
            args="load yocs_cmd_vel_mux/CmdVelMuxNodelet final_mux_nodelet">
            <param name="yaml_cfg_file" value="$(find amr_config)/cfg/final_cmd_vel_mux.yaml" />
            <!-- docking handle when error -->
            <remap from="/final_cmd_vel_mux/input/retry_docking" to="retry_docking_cmd_vel" />
            <!-- joystick -->
            <remap if="$(arg use_smoother_joystick)" from="/final_cmd_vel_mux/input/teleop_joy"
                to="joystick_smoother_cmd_vel" />
            <remap unless="$(arg use_smoother_joystick)" from="/final_cmd_vel_mux/input/teleop_joy"
                to="teleop_joy_cmd_vel" />
            <!-- safety -->
            <remap from="/final_cmd_vel_mux/input/safety_controller" to="safety_cmd_vel" />
            <!-- auto -->
            <remap if="$(arg use_smoother_vel)" from="/final_cmd_vel_mux/input/auto"
                to="/auto_cmd_vel_mux/output/smoother" />
            <remap unless="$(arg use_smoother_vel)" from="/final_cmd_vel_mux/input/auto"
                to="/auto_cmd_vel_mux/output" />
        </node>

        <group if="$(arg use_joystick)">
            <include file="$(find amr_bringup)/launch/teleop_joy.launch">
                <arg name="joy_config" value="f710" />
                <arg name="cmd_vel_topic" value="teleop_joy_cmd_vel" />
            </include>
        </group>
    </group>

    <include file="$(find amr_bringup)/launch/fastech_io.launch" />
</launch>