<launch>
   <arg name="hard_port" default="$(env ARDUINO_PORT)" />

   <node name="arduino_serial" pkg="rosserial_custom" type="rosserial_connect.py"
      output="screen">
      <rosparam file="$(find amr_config)/cfg/arduino_serial.yaml" command="load" />
      <param name="port" value="$(arg hard_port)" />
   </node>
</launch>