<launch>
	<arg name="subfix" default=".py" />
	<arg name="use_hardware" default="true" />
	<arg name="use_smoother_vel" default="true" />
	<arg name="use_smoother_joystick" default="true" />
	<arg name="use_motor" default="true" />
	<arg name="use_lidar" default="true" />
	<arg name="use_serial" default="true" />
	<arg name="use_joystick" default="true" />
	<arg name="simulation" default="false" />
	<arg if="$(arg simulation)" name="simulation_str" default="-s" />
	<arg unless="$(arg simulation)" name="simulation_str" default="" />
	<arg name="map_file" default="mkac" />
	<arg name="use_rviz" default="false" />
	<arg name="use_control_system" default="true" />
	<arg name="use_mission_manager" default="true" />
	<arg name="use_slam_manager" default="true" />
	<arg name="use_docking" default="true" />
	<arg name="use_safety" default="true" />
	<arg name="use_log_data" default="true" />
	<param name="mongodb_address" value="mongodb://coffee:coffee@localhost:27017" />

	<!-- Esp Safety -->
	<group if="$(arg use_safety)">
		<include file="$(find amr_bringup)/launch/safety_tof_sensor.launch" />
		<!-- <node name="vl53l5cx" pkg="vl53l5cx" type="fake_data.py" /> -->
	</group>

	<!-- Odom -->
	<include file="$(find amr_bringup)/launch/odometry_calculate.launch" />

	<!-- Motor -->
	<group if="$(arg use_motor)">
		<include file="$(find amr_bringup)/launch/motor.launch" />
	</group>

	<!-- Lidar -->
	<group if="$(arg use_lidar)">
		<include file="$(find amr_bringup)/launch/lidar_signal.launch" />

	</group>

	<!-- Log -->
	<group if="$(arg use_log_data)">
		<include file="$(find odometry_calculate)/launch/log_odom.launch" />
	</group>

	<!-- Arduino -->
	<group if="$(arg use_serial)">
		<include file="$(find amr_bringup)/launch/arduino_bridge.launch" />
	</group>

	<!-- Clear log  -->
	<node name="clear_log" pkg="clear_log" type="clear_log.py" args="-k 5" />

	<node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />

	<!-- rviz -->
	<group if="$(arg use_rviz)">
		<include file="$(find agvlidar_navigation)/launch/rviz.launch" />
	</group>

	<!-- docking and charging -->
	<group if="$(arg use_docking)">
		<include file="$(find amr_app)/launch/docking.launch" />
		<include file="$(find amr_app)/launch/undocking.launch" />
		<include file="$(find amr_app)/launch/charging_process.launch" />
	</group>

	<!-- control system -->
	<include file="$(find amr_app)/launch/control_system.launch" />

	<!-- moving control -->
	<include file="$(find amr_app)/launch/moving_control.launch" />

	<!-- trigger mission -->
	<node pkg="control_system" type="trigger_mission_server.py" name="trigger_mission_server"
		output="screen" />
	<node pkg="control_system" type="trigger_mission_by_name.py" name="trigger_mission_by_name"
		output="screen" />

	<!-- Matehan-Hub-Elevator -->
	<include file="$(find amr_app)/launch/matehan.launch" />
	<include file="$(find amr_app)/launch/hub.launch" />
	<include file="$(find amr_app)/launch/elevator.launch" />

	<!-- mission manager -->
	<group if="$(arg use_mission_manager)">
		<node name="mission_manager" pkg="mission_manager" type="mission_manager_server.py"
			output="screen"
			args="--mission_list $(find amr_config)/cfg/mission_manager/mission_list.yaml" />
	</group>

	<!-- slam manager  -->
	<group if="$(arg use_slam_manager)">
		<include file="$(find qr_localization)/launch/qr_localization.launch" />
		<include file="$(find amr_bringup)/launch/static_tf.launch" />
		<include file="$(find slam_manager)/launch/map_to_img.launch" />
		<node name="slam_manager" pkg="slam_manager" type="slam_manager.py" output="screen"
			args="$(arg simulation) --config_file $(find amr_config)/cfg/slam_manager/slam_config.yaml" />
	</group>
	<group unless="$(arg use_slam_manager)">
		<!-- <include file="$(find amr_app)/launch/amcl.launch"/> -->
		<node pkg="tf" type="static_transform_publisher" name="fake_localizer"
			args="0 0 0 0 0 0 1 /map /odom 100" />
		<node pkg="map_server" name="map_server" type="map_server"
			args="/home/mkac/tmp/ros/maps/blank_map.yaml" />
	</group>

	<!-- QR code -->
	<include file="$(find cognex_qr_code)/launch/cognex_driver.launch" />
	<include file="$(find qr_gls621)/launch/sick_gls621_driver.launch" />

	<!-- Move base -->
	<include file="$(find amr_app)/launch/move_base.launch" />

	<!-- Sound -->
	<include file="$(find amr_app)/launch/sound_control.launch">
	</include>

	<!-- Led -->
	<include file="$(find amr_app)/launch/led_control.launch">
	</include>

	<!-- Hardware -->
	<include file="$(find amr_bringup)/launch/amr_bringup.launch">
		<arg name="use_joystick" value="$(arg use_joystick)" />
		<arg name="simulation" value="$(arg simulation)" />
		<arg name="use_smoother_vel" value="$(arg use_smoother_vel)" />
		<arg name="use_motor" value="$(arg use_motor)" />
		<arg name="use_smoother_joystick" value="$(arg use_smoother_joystick)" />
	</include>

	<!-- HMI -->
	<include file="$(find amr_bringup)/launch/hmi_manager.launch" />

	<!-- BMS -->
	<!-- <include file="$(find read_battery)/launch/read_battery.launch" /> -->

	<include file="$(find qr_label_tracker)/launch/qr_tracker.launch" />

	<!-- Reset Arduino -->
	<!-- <node name="reset_arduino" pkg="reset_esp" type="arduino_manager.py" output="log" /> -->
	<include file="$(find amr_bringup)/launch/reset_arduino.launch" />

	<!-- Reset ESP -->
	<node name="reset_esp" pkg="reset_esp" type="esp_manager.py" output="screen"/>
	<!-- lOG PIN-->
	<node name="pog_pin" pkg="read_battery" type="log_battery_agv_300.py" />

	<include file="$(find lift)/launch/record_lift.launch"/>

</launch>