<launch>
   <arg name="use_joystick" default="true"/>
   <node name="keya_dual_servo" pkg="keya_servo" type="keya_dual_servo.py" output="screen">
      <!-- <rosparam file="$(find keya_servo)/cfg/motor_config.yaml" command="load" /> -->
      <rosparam file="$(find keya_servo)/cfg/motor_config.yaml" command="load"/>
      <rosparam file="$(find amr_config)/cfg/transform.yaml" command="load"/>

      <!-- <remap from="cmd_vel" to="/final_cmd_vel_mux/output"/>
      <param name="use_encoder" value="true"/> -->
   </node>
</launch>
